@model CMEG.Web.Models.EmpresaViewModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br />

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Logo" />
            <div class="form-group">
                <label asp-for="RazonSocial" class="control-label"></label>
                <input asp-for="RazonSocial" class="form-control" />
                <span asp-validation-for="RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RUC" class="control-label"></label>
                <input asp-for="RUC" class="form-control" />
                <span asp-validation-for="RUC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoFile" class="control-label"></label>
                <input asp-for="LogoFile" type="file" class="form-control" />
                <span asp-validation-for="LogoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></button>
                <a asp-action="Index" class="btn btn-secondary"><i class="glyphicon glyphicon-circle-arrow-left"></i></a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.Logo))
        {
            <img src="@Url.Content(Model.Logo)" alt="Image" style="width:1000px;height:1000px;max-width:200%;height:auto;" />
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
